<!DOCTYPE html>
<html>
    <body>
        <h1>Welcome to NBA Stat Finder!</h1>
        <p>Please select an option below to get started!</p>
        <p>
        <a href = "add_player_page/">Add a player!</a><br>
        <br>
        <a href = "delete_player_page/">Delete a player!</a><br>
        <br>
        <a href = "search_player_page/">Search for a player!</a><br>
        <br>
        <a href = "update_player_page/">Update a player!</a><br>
        <br>
        <a href = "add_team_page/">Add a team!</a><br>
        <br>
        <a href = "delete_team_page/">Delete a team!</a><br>
        <br>
        <a href = "search_team_page/">Search for a team!</a><br>
        <br>
        <a href = "update_team_page/">Update a team!</a><br>
        <br>
        <a href = "add_game_page/">Add a game!</a><br>
        <br>
        <a href = "delete_game_page/">Delete a game!</a><br>
        <br>
        <a href = "search_game_page/">Search for a game!</a><br>
        <br>
        <a href = "update_game_page/">Update a game!</a><br>
        <br>
        <a href = "add_ranking_page/">Add a ranking!</a><br>
        <br>
        <a href = "delete_ranking_page/">Delete a ranking!</a><br>
        <br>
        <a href = "search_ranking_page/">Search for a ranking!</a><br>
        <br>
        <a href = "update_ranking_page/">Update a ranking!</a><br>
        <br>
        <a href = "add_game_detail_page/">Add a game detail!</a><br>
        <br>
        <a href = "delete_game_detail_page/">Delete a game detail!</a><br>
        <br>
        <a href = "search_game_detail_page/">Search for a game detail!</a><br>
        <br>
        <a href = "update_game_detail_page/">Update a game detail!</a><br>
        </p>
    </body>
</html>

<!-- <h1>Members</h1>

<table border="1">
{% for x in mymembers %}
<tr>
<td><a href = "update/{{ x.id }}">{{ x.id}}</a></td>
<td>{{ x.firstname }}</td>
<td>{{ x.lastname }}</td>
<td><a href = "delete/{{ x.id }}">delete</a></td>
</tr>
{% endfor %}
</table>

<p>
<a href = "add/">Add member</a>
</p> -->